@import 'dlist-material-theme';
@import 'dlist-variables';
@import 'dlist-material-breakpoints';


@import 'dlist-typography';
@import 'dlist-mdc-typography';
@import 'dlist-section';

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: $dlist-grey-800;
}

*, *:before, *:after {
  box-sizing: inherit;
}

mat-form-field, mat-slider, mat-slide-toggle {
  margin: 0 8px
}

.reset {
  margin: 0 8px 0 4px
}

.error {
  color: $dlist-error-red;
}

